@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url(https://img.freepik.com/premium-vector/abstract-white-monochrome-vector-background-design-brochure-website-flyer-geometric-white-wallpaper-certificate-presentation-landing-page_249611-5964.jpg?w=1380);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r
  }
}